body {
    background-color: rgb(145, 218, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Initially hide all screens from view (and the next button) and we will make them pop up as the game progresses */
#start-screen, #quiz, #end-screen, 
#next {
    display: none;
}

.answer.selected {
    background-color: rgb(205, 88, 205);
    border: 2px solid;
    font-weight: bold;
}

.answer.correct {
    background-color: green;
}

.answer.incorrect {
    background-color: red;
}