@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

* {
    font-family: "Bubblegum Sans", sans-serif;
}

body {
    background-color: rgb(145, 218, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 20px;
}

button {
    font-size: 20px;
    padding: 15px 40px;
}

/* Start Screen CSS */
#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

#start-screen h1,
#start-screen p,
#start-screen button {
    margin: 0;
}

/* Quiz CSS */
#question {
    font-size: 32px;
}

#quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 10px;
}

#answer-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* Two equal columns */
    gap: 15px;  /* Space between buttons */
}

/* CSS For All Screens */
#start-screen, #quiz, 
#end-screen {
    height: 500px;
    width: 800px;
    border: 2px solid black;
}

/* Initially hide all screens from view (and the next button) and we will make them pop up as the game progresses */
#start-screen, #quiz, #end-screen, 
#next {
    display: none;
}

.answer:disabled {
    opacity: 1;
    cursor: default;
    background-color: gray;
    color: inherit;
}

/* Style for Answer Buttons */
.answer.selected {
    background-color: rgb(205, 88, 205);
    border: 2px solid;
    font-weight: bold;
}

.answer.correct {
    background-color: green;
}

.answer.incorrect {
    background-color: red;
}